header {
  position: relative;
}

.contenedor {
  max-width: 800px;
  margin: auto;
  position: relative;
}

.footer {
  background-color: #273b47;
  padding: 50px 10px;
}


.background {
  background-color: #466173;
  background-image: url('../images/background.png');
  background-size: cover;
}

.titulo {
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  margin-bottom: 0px;
  margin-top: 70px;
}

.titulo span {
  text-decoration: underline;
}

.portada {
  color: white;
  padding: 20px;
  height: 500px;
}

.logotipo {
  display: inline-block;
  margin-left: 0;
}
