.button {
  border-radius: 12px;
  border: none;
  background-color: #fd344e;
  color: white;
  text-decoration: none;
  padding: 7px 12px;
  cursor: pointer;
  font-size: 18px;
  background: linear-gradient(to left, #fe344e, #ff7250);
}

.portada button {
  margin-bottom: 70px;
}

.menu {
  font-size: 24px;
  display: inline-block;
  position: absolute;
  right: 0;
}

.menu a {
  color: white;
  text-decoration: none;

}

.menu li {
  display: inline-block;
  margin-left: 30px;
}

.menu li:before {
  content: '∘';
  font-size: 25px;
  line-height: 20px;
  color: white;
}

.burger {
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  height: 40px;
  background-color: #395667;
  display: none;
  text-align: center;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  color: white;
  z-index: 3;

}
