table {
  width: 100%;
}

.tabla {
  margin: 50px 0;
}

th {
  background-color: #273b47;
  color: white;
  padding: 10px 20px;
  text-align: left;
}

td {
  padding: 20px;
}

table, th, td {
  border: 1px solid #273b47;
  border-collapse: collapse;
}

input, textarea {
  outline: 0;
}

input:focus, textarea:focus {
  background-color: lightgrey;
}
